@import "../../utils/commons.scss";

.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: #fefbff;
  border: none;
  outline: none;
  color: #160037;
  font-size: 1rem;
  cursor: pointer;
}
